*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins';
}
nav{
  height: 80px;
  width: 100%;
}
nav img{
  margin-left: 100px;
}
label.logo{
  margin-left: 10px;
  
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 13px;
  text-transform: uppercase;
}
a:hover{
  border-bottom: 3px solid Red;
}
nav label{
  display: inline-block;
  font-size: xx-large;
  color: rgb(7, 1, 1);
  line-height: 80px;
  padding: 0px 0px;
  margin:auto;
  font-weight: 600;
  }
nav span{
  color: #F6B400;
  font-family:'Snell Roundhand' 'cursive' ;
}
.main{
  background: linear-gradient(110deg, #ffffff 60%, #F6B400 60%);
  

}
.contentmain{
  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
  padding: 20px 40px 40px;
  max-width: 1200px;
}
.contentmaintext{
  display: inline;
  float: left;

}
.contentmaintext .heading{
  font-weight: bold;
  font-size: xx-large;
  width: 80%;
}
.contentmaintext p{
  margin-top: 50px;
 
}

.button1{
  background-color: #F6B400;
  margin-top: 50px;
  display: inline-block;
  border: none;
  border-radius: 20px  20px 0px 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 2px 2px 2px ;
  cursor: pointer;
}
.im{
  display: inline-block;
}
.contentimage{
  display: inline;
  float: right;
}
.contentimage img{
  
  height: 500px;
}

.delivery{
  background-color: #E1EBE6;
  padding-bottom: 50px;
  padding-top: 50px;
}
.fast ,.cardelivery ,.meal{
  display: inline-block;
  height: 250px;
  width: 250px;
  margin-top: 200px;
  margin-right: 50px;
  border-radius: 10px;
  margin-left: 100px;
  border: 1px solid rgb(0, 0, 0);     
}

div.meal img{
  height: 30px;
  width: 30px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
div.cardelivery img{
  height: 30px;
  width: 30px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
div.fast img{
  height: 30px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 30px;
}

.offer{
  text-align: center;
}
.smallcontainer p{
  text-align: center;
}
.menulist{
  border-style: solid;
  margin-top:0px;
  display: inline-block;

}
.menulist h1{
  font-style: italic;
}
.menuheader{
  text-align: center;
  margin-bottom: 20px;
}
.menuheader h2{
  font-size: xx-large;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
}
.menuheader h2:before{
  content: "";
  position: absolute;
  width: 10%;
  height: 1px;
  bottom: 0;
  left: 45%;
  border-bottom: 10px solid #F6B400;
}