*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins';
}
nav{
  height: 80px;
  width: 100%;
}
nav img{
  margin-left: 100px;
}
label.logo{
  margin-left: 10px;
  
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 13px;
  text-transform: uppercase;
}
nav ul li a:hover{
  border-bottom: 3px solid Red;
}
nav label{
  display: inline-block;
  font-size: xx-large;
  color: rgb(7, 1, 1);
  line-height: 80px;
  padding: 0px 0px;
  margin:auto;
  font-weight: 600;
  }
nav span{
  color: #F6B400;
  font-family:'Snell Roundhand' 'cursive' ;
}
.main{
  background: linear-gradient(110deg, #ffffff 60%, #F6B400 60%);
  

}
.contentmain{
  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
  padding: 20px 40px 40px;
  max-width: 1200px;
}
.contentmaintext{
  display: inline;
  float: left;

}
.contentmaintext .heading{
  font-weight: bold;
  font-size: xx-large;
  width: 80%;
}
.contentmaintext p{
  margin-top: 50px;
 
}

.button1{
  background-color: #F6B400;
  margin-top: 50px;
  display: inline-block;
  border: none;
  border-radius: 20px  20px 0px 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 2px 2px 2px ;
  cursor: pointer;
}
.im{
  display: inline-block;
}
.contentimage{
  float: right;
  margin-left: 300px;
}
.contentimage img{
  
  height: 500px;
}

.delivery{
  background-color: #E1EBE6;
  padding-bottom: 50px;
  padding-top: 50px;
}
.fast ,.cardelivery ,.meal{
  display: inline-block;
  height: 250px;
  width: 250px;
  margin-top: 200px;
  margin-right: 50px;
  border-radius: 10px;
  margin-left: 100px;
  border: 1px solid rgb(0, 0, 0);     
}

div.meal img{
  height: 30px;
  width: 30px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
div.cardelivery img{
  height: 30px;
  width: 30px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
div.fast img{
  height: 30px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 30px;
}

.offer{
  text-align: center;
}
.smallcontainer p{
  text-align: center;
}
.menulist{
  border-style: solid;
  margin-top:0px;
  display: inline-block;

}
.menulist h1{
  font-style: italic;
}
.menuheader{
  text-align: center;
  margin-bottom: 20px;
}
.menuheader h2{
  font-size: xx-large;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
}
.menuheader h2:before{
  content: "";
  position: absolute;
  width: 10%;
  height: 1px;
  bottom: 0;
  left: 45%;
  border-bottom: 10px solid #F6B400;
}
.menulist{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  width: 200px;
  height: 330px;
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 70px;
  padding: auto;
}
.menulist:hover{
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);

}
.menulistcontainer {
  text-align: center;

}

.menulist img{
  height: 200px;
    margin-left: auto;
    margin-right: auto;
  width: 200px;
}
.starttext{
    font-weight: 600;
    margin-top: 45px;
    width: 250px;
    height: 150px;
    font-size: xx-large;
}

.doubledeckertext{
  display: inline-block;
  margin-left: 50px;
  padding: 20px 40px 40px;
  max-width: 1200px;  margin-top: 100px;

}
.doubledecker{
  background-color: #E1EBE6;
  padding-bottom: 100px;

}
.mobilecontent{
  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
  padding: 20px 40px 40px;
  max-width: 1200px;
}
.mobiletext{
  display: inline-block;
}
.mobileimage{
  display: inline-block ;
  float: right;
}
.mobileimage img{ 
  height: 300px;
  width: auto;
}
.mobile{
  background-color: #F6B400;

}

.starttext p{
  
}
label.logo{
  margin-left: 10px;
  
}
.footer-container{
  background-color: #E1EBE6;
  padding-bottom: 4rem;
}
.footericons{
  background-color: #ffffff;
  padding-bottom: 4rem;
}
.fi{
  width: 80%;
  height: 40vh;
  display: flex;
  flex-wrap: nowrap;
  margin: 0  auto;
}
.footer{
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0  auto;
}

.footer-logo img{
  margin-left: 10px;
  position: absolute;
  left: 10%;
}

.footer-logo label{
  display: inline-block;
  font-size: xx-large;
  color: rgb(7, 1, 1);
  line-height: 80px;
  padding: 0px 0px;
  margin:auto;
  font-weight: 600;
}
.footer-logo label span{
  color: #F6B400;
  font-family:'Snell Roundhand' 'cursive' ; 
}
.footercontent{
  display: flex;
  flex-direction: column;
  margin-right: 6rem;
}

.footercontent h2{
  margin-bottom: 2rem;
}
.footercontent a{
  margin-bottom: 0.5rem;
}
.signupform h2{
  margin-bottom: 2rem;
}
#footer-email{
  width: 240px;
  height: 40px;
  border-radius: 4px;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#button-submit{
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color:#F6B400;
  outline: none;
}
.footericons{
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 0px;
  clear: both;
}
.fi{
  width: auto;
  height: auto;
}
.fin{
  width: auto;
  height: auto;
  margin-left:20px;
  display:  inline-block;
}
.fine{
  width: auto;
  height: auto;
}